* {
    font-family: 'Avenir', Serif;
}
table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    border-collapse: collapse;
}
table, td, th {
    border: 1px solid black;
    text-align: center;
    padding: 10px 10px;
}
.addRow {
    width:100%;
    display: flex;
    justify-content: center;

}
h2, h3, p {
    text-align: center;
}
input[type=text] {
    padding: 8px 16px;
    margin: 8px 3px;
    box-sizing: border-box;

}
button {
    padding: 8px 14px;
    margin: 8px 3px;
    box-sizing: border-box;
}




